[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-learn = "<=0.19.2"
coremltools = "==4.0b1"
tensorflow = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
